<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="movieForm">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success"
                            [disabled]="!movieForm.valid" (click)="onSubmit()">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input 
                               type="text" 
                               id="name"
                               formControlName="name" 
                               class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <select 
                                name="Genre" 
                                formControlName="genre"
                                class="form-control"
                                [(ngModel)]="selectedGenre">
                            <option *ngFor="let genre of genres" [ngValue]="genre" [selected]="movieGenreType">{{genre.type}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="actors">Actors</label>
                        <input type="text"
                               id="actors"
                               formControlName="actors"
                               class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text"
                                  id="description"
                                  class="form-control"
                                  formControlName="description"
                                  rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input 
                               type="text" 
                               id="imagePath" 
                               formControlName="imagePath" 
                               class="form-control"
                               #imagePath />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img 
                         [src]="imagePath.value"
                         class="img-responsive" />
                </div>
            </div>
        </form>
    </div>
</div>