<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="MoviesAppDatabaseContext" connectionString="Data Source=SNJEZA-PC\SQLEXPRESS;Initial Catalog=MoviesApp;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="MoviesAppContext" connectionString="Data Source=SNJEZA-PC\SQLEXPRESS;Initial Catalog=MoviesApp;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>