<div class="row">
    <div class="col-xs-12">
        <h1 style="text-align:center">Movies Project</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <img style="max-height:300px; display: block;
        margin: 0 auto;" src="/src/app/dashboard/dashboard.jpg" alt=""/>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4 style="text-align:center; text-justify">
            A simple project where you can add your favorite movies to see what rating will it get 
            from <br /> other people, as well as rate the movies that other people added.
        </h4>
    </div>
</div>