<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Home</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/movies">Movies</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/bestrated">Best Rated</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/genres" *ngIf="authService.isAdmin()">Manage Genres</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]="!authService.isAuthenticated()">
                    <li routerLinkActive="active"><a routerLink="/signup">Register</a></li>
                    <li routerLinkActive="active"><a routerLink="/signin">Log In</a></li>
                </ng-template>
                <li> <a *ngIf="authService.isAuthenticated()" disabled>Logged as <span style="font-weight:bold">{{loggedUser}}</span></a></li>
                <li><a style="cursor: pointer;" (click)="onLogout()" *ngIf="authService.isAuthenticated()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>