    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success" (click)="onNewGenre()">New Genre</button>
        </div>
    </div>
    <hr />
<div class="row">
    <div class="col-xs-12">
        <a style="cursor: pointer" 
            class="list-group-item clearfix"
            *ngFor="let genre of genres; let i = index"
            [routerLink]="['genreId', i]"
            routerLinkActive="active">
            <div>
                <h4 class="list-group-item-text">{{ genre.type }}</h4>
            </div>
        </a>
    </div>
</div>
